.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS.slds-button{
    margin-top:7px;
}
.THIS.requiredCheckbox{
    display: inline;
    width: 1rem;
    height: 1rem;
    
}
.THIS .uiInput--checkbox {
    display: inline-block;
}
.THIS .slds-button{
    margin-top:7px;
}