/*
.THIS tr.financialsRedBold td {
    color: red;
    font-weight: bold;
}

.THIS tr.financialsRed td {
    color: red;
}

.THIS tr.financialsBold td {
    font-weight: bold;
}
*/

.THIS tr.totalRow > td.colType-head {
    font-weight: bold;
}

.THIS tr.totalRow + tr.totalRow td {
    border-top: none;
}

.THIS tr.recoveryRow > td {
    background-color: t(colorBackgroundStencil);
}

.THIS tr > th > .title {
    display: inline-block;
    white-space: nowrap;
}

.THIS tr > th > .title.modifier {
    margin-left: 0.5rem;
}

.THIS table.singleTitle tr > th {
    text-align: right;
    /*padding-right: 3rem;*/
    padding-left: 1rem;
    width: 25%;
}

.THIS table.multiTitle tr > th {
    text-align: right;
    /*padding-right: 3rem;*/
    padding-left: 1rem;
}

.THIS tr.title1 > th {
    border-top: none;
}

.THIS tr > td.subType-Diff {
    background-color: t(colorBackgroundSelectionDark); /*#e1e1e1;*/
}

.THIS tr > td.subType-Pit {
    background-color: t(colorBackgroundSelectionLight);
}