@page {
    size: 8.5in 11in;/* width height */
}

table.claim {
    width: 100%;
    border: 1px #000000 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.header {
    font-family: Verdana, sans-serif, Arial;
    font-weight: bold;
    font-size: 1.1em;
    color: #404040;
    page-break-inside: avoid;
}

div.header2, td.header2 {
    font-family: Verdana, sans-serif, Arial;
    font-weight: bold;
    font-size: 1.1em;
    color: #404040;
    text-decoration: underline;
    page-break-inside: avoid;
}

td.header {
    font-family: Verdana, sans-serif, Arial;
    font-weight: bold;
    font-size: 1.1em;
    color: #404040;
}

td.clmdet {
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.4em;
    color: #404040;
}

td.fields {
    text-align: left;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: .9em;
    color: #404040;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    page-break-inside: avoid;
}

td.fields0 {
    text-align: center;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: .9em;
    color: #404040;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    page-break-inside: avoid;
}

td.fields2 {
    text-align: center;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: .9em;
    color: #404040;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid;
    page-break-inside: avoid;
}

td.fields3 {
    text-align: left;
    font-family: Verdana, sans-serif, Arial;
    font-weight: normal;
    font-size: .9em;
    color: #404040;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 0px;
    border: 1px solid;
    page-break-inside: avoid;
}

.headerStyle {
    text-align: left;
    font-family: Verdana, sans-serif, Arial;
    font-size: .9em;
    color: #404040;
}

table.claim3 {
    width: 100%;
    border: 5px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}

.taskList {
    margin: 5px 0 0 0;
    background-color: #f8f8f8;
    border: solid #d8dadf 1px;
    border-top: solid #002756 2px;
    padding: 5px;
}

.taskTitleBar {
    background-color: #527c9f;
    padding: 4px 0 4px 3px;
}

.taskTitleContents {
    color: white;
    font-weight: bold;
    font-size: 100%;
}

.taskHeader {
    font-size: 80%;
    padding: 5px 10px 5px 10px;
    border-bottom: solid #d8dadf 1px;
}

.taskHeaderCell {
    margin: 0 0 0 15px;
}

.taskBody {
    padding: 5px 10px 10px 10px;
}

body div.taskList div.taskDescription a {
    color: #000000;
}

body {
    background-color: white;
}
