/****************************************************************
                        Added to RK base RMIS product as 03/25/2013      
     *******************************************************************/

html, body {
	/* These styles are required for IE 6 to render these pages, maybe 7/8?.
	 * These styles are superfluous (but harmless) for Firefox, Safari, Chrome... */
	width:100%;
	height:100%;
}

#wrapper {
    position:absolute; z-index:1;
    top:0; bottom:0; left:0;
    width:100%;
    background:#ffffff;
    overflow:auto;
}

body.setupTab.FormBody{
	margin:0;
}

body 
div#stageForm {
	
}

body .FormTopOuter .FormTopInner .FormContent {
	border-left-color:#cfcfcf;
	border-right-color:#cfcfcf;
	border-bottom-color:#cfcfcf;
}

body .FormTopOuter .FormTopInner .FormContent.pinstripes {
	border-top:none;
	border-right: solid #cfcfcf 1px;
	border-bottom: solid #cfcfcf 1px;
	border-left: solid #cfcfcf 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	/*
	background-color:#f5f4f5;
	background-image:none;
	*/
}

body .FormTopOuter .FormTopInner .FormContent .FormFooter {
	//padding:8px 12px 0px 12px;
	border-top-color:#ffffff;
}

body .FormTopOuter .FormTopInner .FormContent .FormHeader {
	//padding:8px 12px;
	border-bottom-color:#d8d8d8;
}


body .FormTopOuter .FormTopInner .FormContent .FormDiv {
	padding:0;
	border-bottom-color:#d8d8d8;
	/*
	background-color:#F3F3EC;
	background-image:url(/img/bgScanline.gif);
	*/
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv.padNone {
	padding:0;
}


body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivTitle {
	font-size: 120%; 
	padding-left: 12px;
	padding-right: 12px;
	border-top: none;
	margin:0;

	background-color:#6E7D9E;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivTitle.pinstripes {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivContent {
	//padding:8px 12px;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivContent.padAll {
	//padding:8px 12px;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivContent.padNone {
	padding:0;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivContent.padTB {
	//padding:8px 0;
}

body .FormTopOuter .FormTopInner .FormContent .FormDiv .FormDivContent.padLR {
	//padding:0 12px;
}

/* ==============================================================================================================================================
 * Styles for custom Dojo Widgets:
 * ==============================================================================================================================================
 */

.submitBlockingPane {
    overflow:hidden; 
    background-color:#000000; 
    filter:alpha(opacity=56); 
    opacity:0.56; 
    -moz-opacity:0.56; 
    cursor:progress; 
    z-index:199;
    /* display:none;*/
}

.submitBlockingPane.forDialog {
    cursor:auto;
}

body a.dialogControlsLink {
    color:#fefefe;
    cursor:pointer;
    text-decoration:none;
}

body .dialogControlsSep {
    color:#fefefe;
    margin:0 3px;
    text-decoration:none;
}

body a.dialogControlsLink:hover {
    color:white;
    text-decoration:underline;
}

body .rconVForceDialog img.dialogClose.disabled,
body .rconVForceDialog img.dialogCloseOn.disabled {
    background-position: 0px -60px;
}

body .rconVForceDialog .dialogClose {
    background-position: 0px 0px;
}

body .rconVForceDialog .dialogCloseOn {
    background-position: 0 -20px;
}

body .rconVForceDialog td.dialogCloseCell {
    padding:0 12px 0 0;
}

body .actionFunctionLink {
    color:#0000a0;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}

.fieldsSection {
    
}

.fieldsSection table.fieldsSectionTable {
    width:100%;
}

.fieldsSection tr.sectionRow.odd {
    background-color:white;
}

.fieldsSection tr.sectionRow.even {
}

.fieldsSection tr.sectionRow td {
    border-top:solid 1px #cbcbcb;
}

.fieldsSection tr.sectionRow td.labelCell {
    text-align:left;
    font-weight:bold;
    font-size:100%;
    width:45%;
}

.fieldsSection table.twoCol tr.sectionRow td.labelCell {
    width:30%;
}

.fieldsSection table.threeCol tr.sectionRow td.labelCell {
    width:20%;
}

.fieldsSection tr.sectionRow td.dataCell {
    padding:1px 0 1px 8px;
}

.FormTopOuter .FormTopInner .FormTitle table,
.FormTopOuter .FormTopInner .FormFooter table {
    width:100%;
}

.FormTopOuter .FormTopInner .FormTitle .pbTitle,
.FormTopOuter .FormTopInner .FormFooter .pbTitle {
    width:60%;
}

.FormTopOuter .FormTopInner .FormTitle .pbButtons a,
.FormTopOuter .FormTopInner .FormFooter .pbButtons a {
    text-decoration:none;
    font-size:0.9em;
    font-weight: bold;
}

.FormSection {
    padding-top:3px;
}

/*
.FormTopOuter .FormTopInner .FormSection .header {
    font-size: 100%; 
    padding-left: 12px;
    padding-right: 12px;
    margin:0;
    //background-color:#6E7D9E;
    background:#d3d8df;
    border:none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}
*/

.FormTopOuter .FormTopInner .FormSection .header {
    font-size: 100%; 
    padding-left: 12px;
    padding-right: 12px;
    border-top: none;
    margin:0;

    background-color:#6E7D9E;
}

.FormTopOuter .FormTopInner .FormSection .header.pinstripes {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

 .FormSection .body {
    padding-top:3px;
}

 .FormSection .fieldTable {
    width:100%;
}

 .FormSection table.fieldTable tr.even {

}

 .FormSection table.fieldTable tr.odd {
}

 .FormSection table.fieldTable td {
    //border-top:solid 1px #cbcbcb;
}

 .FormSection table.fieldTable td.labelCell {
    text-align:right;
    font-weight:bold;
    font-size:100%;
    width:45%;
    padding:1px 2px 1px 5px;
}

 .FormSection table.fieldTable td.labelCell.twoCol {
    width:30%;
}

 .FormSection table.fieldTable td.labelCell.threeCol {
    width:25%;
}

 .FormSection table.fieldTable td.dataCell {
    padding:1px 0 1px 8px;
}

 .FormSection table.fieldTable td.dataCell.twoCol {
    width:20%;
}

 .FormSection table.fieldTable td.dataCell.threeCol {
    width:8%;
}

.FormSection table.fieldTable td.dataCell.oneCol select {
    max-width:350px;
}

.FormSection table.fieldTable td.dataCell.twoCol select {
    max-width:200px;
}

.FormSection table.fieldTable td.dataCell.threeCol select {
    max-width:175px;
}

.FormSection table.fieldTable.forDialog td.labelCell {
    width:20%;
}

.FormSection table.fieldTable td.dataCell input[type=text],
.FormSection table.fieldTable td.dataCell textarea {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    height:2em;
}

.FormSection table.fieldTable td.dataCell textarea {
    height:3em;
}

.FormSection th,
.FormSection td {
    //padding-right:20px;
}



 
.pageTableSortableHeaderLabel {
    color:black;
    font-weight:bold;
    text-decoration:underline;
    cursor:pointer;
}
