/****************************************************************
                        Added to RK base RMIS product as 03/25/2013        
*******************************************************************/
.rkon-me-grid td .errorMsg {
    font-weight:normal !important;
    font-style:normal !important;
}

table.list.rkon-me-grid > tbody > tr > td {
    padding:2px 2px 2px 5px;
}

table.rkon-me-massUpdateFields td.rkon-me-fieldLabelCell,
table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldLabelCell {
    vertical-align:top;
    text-align:right;
    font-weight:bold;
    font-size:90%;
    color:#333;
    padding:2px 2px 1px 2px;
    width:35%;
}

table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldLabelCell {
    vertical-align:middle;
    padding:2px 2px 1px 2px;
}

table.rkon-me-massUpdateFields td.rkon-me-fieldLabelCell > div {
    float:right;
    padding:4px 10px 2px 3px;
    border-radius:3px;
    color:#DFDFDF;
    border:solid #222 1px;
    background:rgb(112,112,112);
    background:linear-gradient(-45deg, rgba(0, 0, 0, 0.6) -20%, rgba(0, 0, 0, 0.35) 100%);
    background:-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.6) -20%, rgba(0, 0, 0, 0.35) 100%);
    background:-webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.35) 100%);
}

table.rkon-me-massUpdateFields td.rkon-me-fieldLabelCell.activated > div {
    color:#333;
    border:solid 1px rgb(218, 125, 0);
    background:rgb(232,183,93);
    background:linear-gradient(-45deg, rgba(250, 222, 23, 0.40) -20%, rgba(218, 125, 0, 0.65) 100%);
    background:-moz-linear-gradient(-45deg, rgba(250, 222, 23, 0.40) -20%, rgba(218, 125, 0, 0.65) 100%);
    background:-webkit-linear-gradient(-45deg, rgba(250, 222, 23, 0.40) -20%, rgba(218, 125, 0, 0.65) 100%);
}

table.rkon-me-massUpdateFields td.rkon-me-fieldLabelCell > div input[type=checkbox] {
    margin-right:5px;
}

table.rkon-me-massUpdateFields td.rkon-me-fieldInputCell,
table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldInputCell {
    vertical-align:top;
    text-align:left;
    padding:3px 2px 3px 8px;
    width:65%;
}

table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldInputCell {
    vertical-align:middle;
    padding:3px 2px 3px 8px;
}

table.rkon-me-massUpdateFields td.rkon-me-fieldInputCell .requiredInput,
table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldInputCell .requiredInput {
    position: relative;
}

table.rkon-me-massUpdateFields td.rkon-me-fieldInputCell .requiredInput .requiredBlock,
table.rkon-me-rowScope > tbody > tr > td.rkon-me-fieldInputCell .requiredInput .requiredBlock {
    background-color: #C00;
    position: absolute;
    left: -3px;
    width: 2px;
    top: 1px;
    bottom: 1px;
}

table.rkon-me-rowScope .rkon-me-inlineJInputBlock {
    display:inline-block;
}

.rkon-me-tabOrderWidget-stateLabel {
    font-weight:bold;
    font-size:90%;
    color:#445;
}

.rkon-me-tabOrderWidget-state {
    font-style:italic;
    background-color:#fea;
}

.pbBody a.rkon-me-tabOrderWidget-toggle {
    cursor:pointer;
    color:rgb(2,97,191);
    margin-left:5px;
}

.me-grid-demarcation-begin, .me-grid-demarcation-end,
.me-dialog-demarcation-begin, .me-dialog-demarcation-end {
    display:none;
}

