/****************************************************************
                        Added to RK base RMIS product as 03/25/2013        
*******************************************************************/
table#column-selections tr.first {
    font-weight:bold;
}

.rkon-me-fields-list > ol {
    width: 350px;
    height: 500px;
    overflow-y:auto;
    border: solid #49ADD5 2px;
    border-radius: 5px;
    background-color: white;
    padding: 1px;
}

.rkon-me-fields-list > ol {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.rkon-me-fields-list > ol > li { 
    margin: 2px; 
    padding: 2px 5px; 
    font-size: 100%; 
    border-radius: 3px;
    border: 1px solid #F7F7F7;
    border-bottom: 1px solid #DDD;
    /*background-color: #F7F7F7;*/

    background-color: #454545;
    color: white;
}

#available-fields.rkon-me-fields-list > ol > li.rkon-me-activated {
    display: none;
}

#available-fields.rkon-me-fields-list > ol li.ui-selecting,
#available-fields.rkon-me-fields-list > ol li.ui-selected {
    border: 1px solid #CCC;
}

#available-fields.rkon-me-fields-list > ol > li.ui-selecting { 
    background: #FECA40 !important;

    color: black;
}

#available-fields.rkon-me-fields-list > ol > li.ui-selected { 
    background: #FFD069 !important;
    
    color: black;
}

#available-fields.rkon-me-fields-list > ol > li.ui-selecting .rkon-me-fieldName { 
    color: #565656;
}

#available-fields.rkon-me-fields-list > ol > li.ui-selected .rkon-me-fieldName { 
    color: #565656;
}

.rkon-me-fields-list > ol > li > div { 
    overflow: hidden;
}

.rkon-me-fields-list > ol > li .rkon-me-fieldLabel { 
    float: none;
}

.rkon-me-fields-list > ol > li .rkon-me-fieldName { 
    float: right;
    font-family: serif;
    font-size: 95%;
    /*color: #444;*/
    color: #B5B5B5;
}

#activated-fields.rkon-me-fields-list > ol > li {
    padding: 6px;
    border: solid 1px #DDD;
}

#activated-fields.rkon-me-fields-list > ol > li .ui-icon.ui-icon-arrowthick-2-n-s {
    float: left;
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: -3px;
}

#activated-fields.rkon-me-fields-list > ol > li .ui-icon.ui-icon-circle-close {
    float: right;
    margin: -1px 0 0 2px;
    cursor: pointer;
}

#activated-fields.rkon-me-fields-list > ol > li.rkon-flash-fx,
#available-fields.rkon-me-fields-list > ol > li.rkon-flash-fx { 
    background-color: rgb(255,238,170);
    /*color: black;*/
}

#activated-fields.rkon-me-fields-list > ol > li .rkon-me-fieldName.rkon-flash-fx,
#available-fields.rkon-me-fields-list > ol > li .rkon-me-fieldName.rkon-flash-fx {
    /*color: #565656;*/
}
