/****************************************************************
                        Added to RK base RMIS product as 03/25/2013        
*******************************************************************/
@page {
    size: 9.5in 4.1in;/* width height */
    margin:10px 10px 10px 10px;
}

body {
    font-family: sans-serif;
}
/* CSS Document */