/****************************************************************
                        Added to RK base RMIS product as 03/25/2013        
*******************************************************************/
body .paginator .right {
	top:-2px;
}

body .listViewport .bottomNav {
	background: #F2F2F2 url(/img/alohaSkin/listFooter.png) repeat-x scroll 0 0;
}

body .selectionPaginator .listViewport .bottomNav {
    border:solid #D4DADC 1px;
    border-top:none;
}

body .listViewport .bottomNav .paginator span img {
    vertical-align:baseline;
}
