/****************************************************************
                        Added to RK base RMIS product as 03/25/2013        
*******************************************************************/
/* Mike Ulveling */

/* datepicker style override: */
.ui-datepicker 
{
	font-size:90%;
}

.rkon-alert 
{
    font-size:90%;
    -moz-box-shadow: 6px 6px 15px #000;
    -webkit-box-shadow: 6px 6px 15px #000;
    box-shadow: 6px 6px 15px #000;
}

.rkon-alert .ui-widget-header 
{
    background:#00997C; color:white;
    background:-webkit-linear-gradient(top, #00BB8D 0%, #007050 100%);
    background:-moz-linear-gradient(top, #00BB8D 0%, #007050 100%);
    background:linear-gradient(top, #00BB8D 0%, #007050 100%);
}

body .ui-widget-overlay
{
	background:#000;
	opacity:.45;
	filter: Alpha(Opacity=45);
}

body .bPageBlock .message 
{
	border:none; 
	background:none; 
	margin:0;
}

/* prevent the title label text from wrapping */
body td.pbTitle 
{
	white-space:nowrap;
}

/* allocate a more generous horizontal space for the label, as we won't have anything else in the header */
body .bPageBlock td.pbTitle 
{
	width:100%;
}

/* hide the unused header; this selector is more convoluted than it needs to be thanks to today's SFDC bug-of-the-day */
table.rkonFinancialMatrix thead 
{
	display:none;
}

body.hasMotif
{
	margin:0;
}

table.rk-matrix thead
{
    display:none;
}
/*
table.rk-matrix
{
    font-family:arial;
} */

table.rk-matrix th.value,
table.rk-matrix td.value,
/* the following alternate selectors are for creating consistent padding-right space to compensate for the ')' char: 
table.rk-matrix > tbody > tr > th.rk-matrix.main-header span.value-spacer,
table.rk-matrix > tbody > tr > td.rk-matrix.main-header span.value-spacer,
table.rk-matrix > tbody > tr > th.rk-matrix.value span.value-spacer,
table.rk-matrix > tbody > tr > td.rk-matrix.value span.value-spacer
{
    /*font-family:monaco,monospace,verdana,helvetica,arial;*/
	font-family:Arial,Helvetica,sans-serif;
    white-space:nowrap;
    font-weight:normal;
}*/

/* for creating consistent padding-right space to compensate for the ')' char: */
table.rk-matrix > tbody > tr > th.rk-matrix.main-header span.value-spacer,
table.rk-matrix > tbody > tr > td.rk-matrix.main-header span.value-spacer,
table.rk-matrix > tbody > tr > th.rk-matrix.value span.value-spacer,
table.rk-matrix > tbody > tr > td.rk-matrix.value span.value-spacer
{
    visibility:hidden;
}


table.list.rk-matrix > tbody > tr > td.rk-matrix
{
    text-align:right;
}

table.list.rk-matrix > tbody > tr > th.rk-matrix
{
    text-align:right;
}

/*table.list > tbody > tr > th.rk-matrix.main-header,
table.list > tbody > tr > td.rk-matrix.main-header 
{
    background-color:#1797c0 !important;
    color:white;
    font-weight:bold;
    font-size:110%;
}*/

table.list > tbody > tr > th.rk-matrix.main-header,
table.list > tbody > tr > td.rk-matrix.main-header 
{
    background-color:#f2f2f4 !important;
    font-weight:bold;
    font-size:87%;
    border-bottom: 1px solid #E4E4E5;
    border-left: none;
    border-right: 1px solid #d9d9db;
    border-top: none;
}

table.list > tbody > tr > th.rk-matrix.summary,
table.list > tbody > tr > td.rk-matrix.summary 
{
    /*background-color:#f9f9fa !important;*/
    color:black;
    font-weight:bold;
}

table.list > tbody > tr > th.rk-matrix.redBold,
table.list > tbody > tr > td.rk-matrix.redBold 
{
    color:#FF0000;
    font-weight:bold;
}


table.list > tbody > tr > td.rk-matrix.col-Paid_difference,
table.list > tbody > tr > td.rk-matrix.col-Incurred_difference,
table.list > tbody > tr > td.rk-matrix.col-Outstanding_difference
{
    background-color:#e1e1e1 !important;
    color:black;
    /*opacity:.45;
    filter: Alpha(Opacity=45);*/
}

table.list > tbody > tr.dataRow.highlight td
{
           background-color : #E0F5FF !important;
}

/*table.list > tbody > tr > th.rk-matrix.summary.value,
table.list > tbody > tr > td.rk-matrix.summary.value 
{
	font-weight:normal;
}*/

table.list > tbody > tr > th.rk-matrix.adjustment,
table.list > tbody > tr > td.rk-matrix.adjustment 
{
    color:#FF0000;
    font-weight:normal;
}
table.list > tbody > tr > td.rk-matrix.adjustment a
{
    color:#FF0000;
}

table.list > tbody > tr > th.rk-matrix.adjustment.value,
table.list > tbody > tr > td.rk-matrix.adjustment.value 
{
	font-weight:normal;
}