/****************************************************************
        Added to RK base RMIS product as 03/25/2013       
*******************************************************************/
html, body {
    /* Override the width:100% from ui_manager_base_css: */
    width:auto;
}

body.hasMotif {
    /* Override SFDC's 10 pixel left/right margin on body; we'll apply this amount of margin directly to the RootSmartLayoutContainer: */
    margin:0 0;
}

.rkonNested.dojoRootSmartLayoutContainer.dojoSmartAlignClient {
    position:relative;
}

.rkonNested.withSidebar.withHeader .sidebarCollapsed #handlebarContainer {
    left:0px !important;
}

.rkonNested.withSidebar.withHeader .sidebarCollapsed + #bodyCell {
    padding-left:0px;
}

.rkonNested.withSidebar.withHeader #bodyCell {
    padding-top:14px;
}
