/****************************************************************
        Added to RK base RMIS product as 08/18/2014       
*******************************************************************/
@charset "UTF-8";
/* CSS Document */

body {
 background: url("images/background.jpg")  no-repeat scroll center 0 #f0f3f7;
}

#content {
background-color:#f0f3f7;
margin: auto;
border:8px solid #f0f3f7;
padding:0px 0px 0px 0px;
}

.flag {
margin:0 0 0 -63px;
}

#content p {
font-size:13px;
color: #2F393A;
line-height: 18px;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,Helvetica,sans-serif;
width:90%;
text-align:left;   
}

#content h1 {

color: #3C424E;
font-family: 'OFLSortsMillGoudyRegular',Georgia,"Times New Roman",Times,serif;
font-size: 48px;
font-weight: normal;
letter-spacing: -1px;
line-height: 54px;
width: 80%; 
text-align:left;        
}


.heading-hr {
border-color: #4B7CC5;
color: #4B7CC5;
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 7px medium medium;
    clear: both;
    display: block;
    float: left;
    height: 7px;
    width: 225px;
    margin:0;

}

#content h2 {
color: #2A3753;
font: 24px/26px Georgia,"Times New Roman",Times,serif;
margin-bottom: 10px;
text-align:center;   
}

#content h3{
color: #2A3753;
font: 18px Georgia,"Times New Roman",Times,serif;
margin-bottom: 10px;
text-align: center;
}

#content h4{
color: #2A3753;
font: 15px Georgia,"Times New Roman",Times,serif;
margin-bottom: 10px;
text-align: center;
}

#content li {
font-size:12px;
color: #2F393A;
line-height: 18px;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,Helvetica,sans-serif;
width:90%;
text-align:left;   
margin-bottom:0px;
}

#content td {
font-size:12px;
color: #2F393A;
line-height: 18px;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,Helvetica,sans-serif; 
}

#content label {
font-size:12px;
font-weight:normal;
font-weight: normal;
color: #2F393A;
line-height: 18px;
font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,Helvetica,sans-serif;
text-align:left;   
margin-bottom:10px; 
overflow: hidden;
white-space: nowrap;
}

.container {
margin:auto;
width:900px;
}

.riskonnect-logo {
margin: 15px 0 0px 30px;
}

.welcome {
color: #8C99B0;
font-size: 14px;
font-family: Arial,Helvetica,sans-serif;
float:right;
margin:-50px 40px 0 0;
padding:0;
}

.welcome li {
list-style:none;
display:inline-block;
margin-left:25px;
}

.footer {
float:right;
margin:5px 40px 0 0;
}

.footer a{
color: #8C99B0;
font-size: 14px;
font-family: Arial,Helvetica,sans-serif;
}

.footer a:hover {
color:#dee6f2;
}

.footer li {
list-style:none;
display:inline;
margin-left:25px;
}
